.left {
    width: 40%;
    flex-wrap: wrap;

    .custom-skeleton-node {
        width: 100% !important;
    }
}

.right {
    flex: 1;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .left {
        width: 100%; // Chiếm toàn bộ chiều rộng
        margin-right: 0; // Xóa margin bên phải nếu có
    }

    .right {
        width: 100%; // Chiếm toàn bộ chiều rộng
        margin-left: 0; // Xóa margin bên trái
    }

    // Ẩn 3 ảnh nhỏ trong .left
    .left .ant-space {
        display: none;
    }

    .left .custom-skeleton-node {
        height: 400px !important; // Giảm chiều cao ảnh to trên màn hình nhỏ hơn
    }
}